<!-- #Ayham Alnasser & Vishwaa Sofat (Save the Turtles)                                  
#SoftDev pd1                                                                        
#K15 - Do I Know You?                                                               
#2019-10-2 !-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>
        Log In
      </title>
  </head>
  <body>
    <h2>Period 1 SoftDev</h2><br>
    <h1>Ayham Alnasser & Vishwaa Sofat (Save the Turtles) sksksksks and i oop-</h1>
    <form action = "/login" method = "POST" action = "/login">
      Username: <input type = "text" name = "username"> <br>
      Password: <input type = "text" name = "password"> <br>
      <input type = "submit" name = "sub" value="login">
    </form>
  </body>
</html>
